<nav>
  <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#services">Services</a></li>
  <li><a href="#portfolio">Portfolio</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
</nav>

<body class="content">

  <section id="home">
    <h1 class="hi">Hi, my name is Angel Belmar</h1>
    
    <img class="foto" src="https://avatars.githubusercontent.com/u/68655722?v=4">

    <h2>I design and code beautifully simple things, and I love what I do</h2>

    <div class="sameline">
      <h1 class="text1"></h1>
      <h1 class="text2"></h1>
    </div>
    
    <div class="discoverButton">
      <a href="#about" class="box">Take a quick look and discover me</a>
    </div>
  </section>

  <section id="about">
    <div class="aboutcard">
    <p>I'm 24 and my passion is creating websites and all the process that it involves. Sometimes it can be a challenge but I have the knowledge and patience required to make just about anything.</p>
  </div>

  <h2 class="tittle">What I know</h2>
  
  <div class="aboutrow">
    <div class="row1">
  
      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/HTML5.png">
        <p class="iconText">HTML5</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/CSS3.png">
        <p class="iconText">CSS3</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Javascript.png">
        <p class="iconText">Javascript</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Angular.png">
        <p class="iconText">Angular</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/NoSQL.png">
        <p class="iconText">NoSQL</p>
      </div>
    </div>

    <div class="row2">
  
      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Typescript.png">
        <p class="iconText">TypeScript</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Git.png">
        <p class="iconText">Git</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Photoshop.png">
        <p class="iconText">Photoshop</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Jira.png">
        <p class="iconText">Jira</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Wordpress.png">
        <p class="iconText">Wordpress</p>
      </div>

    </div>
  </div>

  
  </section>

   
 

  <section id="portfolio">
    <h2 class="tittle">Things I've done</h2>

    <div id="workcards">


      <div class="workcard">
        <span>PUNTO CRYPTO</span>
      </div>

      <div class="workcard">
        <span>PADEL PLACE</span>
      </div>

      <div class="workcard">
        <span>MY PERSONAL PORTFOLIO</span>
      </div>

      

    </div>

  </section>



</body>

<footer>
</footer>



<router-outlet></router-outlet>