<nav>
  <a href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#portfolio">Portfolio</a>
  <a href="#contact">Contact</a>
</nav>

<body class="content">

  <section id="home">
    <h1 class="hi">Hi, my name is Angel Belmar</h1>
    <img class="foto" src="https://avatars.githubusercontent.com/u/68655722?v=4">
    <div class="outer-ring center"></div>


    <h2>I design and code beautifully simple things, and I love what I do</h2>


    <div class="sameline">
      <h1 class="text1"></h1>
      <h1 class="text2"></h1>
    </div>
    <div class="discoverButton">
      <a href="#about" class="box">Take a quick look and discover me</a>
    </div>
  </section>



  <section id="portfolio">
    <h2 class="tittle">Things I've done</h2>

    <div id="workcards">


      <div class="workcard">
        <span>PUNTO CRYPTO</span>
      </div>

      <div class="workcard">
        <span>PADEL PLACE</span>
      </div>

      <div class="workcard">
        <span>MY PERSONAL PORTFOLIO</span>
      </div>

    </div>

  </section>

</body>

<footer>
</footer>



<router-outlet></router-outlet>