<nav>
  <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#services">Services</a></li>
  <li><a href="#portfolio">Portfolio</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
</nav>

<body class="content">

  <section id="home" class="animate__animated animate__fadeIn">

    <h1 class="hi">Hello there, this is</h1>
    <h1 class="name">ANGEL BELMAR</h1>
    
    <img class="foto">

    <h2>I design and code websites with a clean style, and I love what I do</h2>

    <div class="sameline">
      <h1 class="text1"></h1>
      <h1 class="text2"></h1>
    </div>

    
    <p>You can</p>


    <div class="button">
      <a href="#contact">Download my Curriculum</a>
    </div>

    <p>Or</p>

    <div class="button">
      <a href="#about">Take a quick look and discover me</a>
    </div>
  </section>


  
  <section id="about">
    <div class="aboutcard">
    <p>I'm 24 and my passion is creating websites and all the process that it involves. Sometimes it can be a challenge but I have the knowledge and patience required to make just about anything.</p>
  </div>

  <h2 class="tittle">WHAT I KNOW</h2>
  <div class="barra"> </div>
  
  <div class="aboutrow">
    <div class="row1">

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/HTML5.png">
        <p class="iconText">HTML5</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/CSS3.png">
        <p class="iconText">CSS3</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Javascript.png">
        <p class="iconText">Javascript</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Angular.png">
        <p class="iconText">Angular</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/NoSQL.png">
        <p class="iconText">NoSQL</p>
      </div>
    </div>

    <div class="row2">
  
      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Typescript.png">
        <p class="iconText">TypeScript</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Git.png">
        <p class="iconText">Git</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Photoshop.png">
        <p class="iconText">Photoshop</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Jira.png">
        <p class="iconText">Jira</p>
      </div>

      <div class="card">
        <img class="logo" src="https://www.madalinaeleonora.dev/assets/skills/Wordpress.png">
        <p class="iconText">Wordpress</p>
      </div>

    </div>
  </div>

  
  </section>


  <section id="portfolio">
    <h2 class="tittle">Things I've done</h2>
    <div class="barra"> </div>

    <div id="workcards">


      <div class="workcard">
        <span>PUNTO CRYPTO</span>
      </div>

      <div class="workcard">
        <span>PADEL PLACE</span>
      </div>

      <div class="workcard">
        <span>MY PERSONAL PORTFOLIO</span>
      </div>

      

    </div>

  </section>


  <section id="services">
    <h2 class="tittle">Services</h2>
    <div class="barra"> </div>
    <h2 class="tittle">With junior experience, I have worked like</h2>


    <div class="row1">

      <div class="card2">
        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/2705/2705224.png">
        <p class="iconText">Web developer</p>
      </div>


      <div class="card2">
        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/2496/2496742.png">
        <p class="iconText">Photoshop services</p>
      </div>


      <div class="card2">
        <img class="logo"
          src="https://cdn-icons.flaticon.com/png/512/5680/premium/5680036.png?token=exp=1655915816~hmac=f094329897fa821774095c74b6c57f67">
        <p class="iconText">DevSecOps</p>
      </div>


      <div class="card2">
        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/2463/2463510.png">
        <p class="iconText">Full Stack Developer</p>
      </div>

    </div>
    <h2 class="tittle">My CurriculumVitae</h2>
    <h2>I'm always up to learn anything new</h2>
  </section>
   
 




  <footer>
    <section id="contact">
      <h2 class="tittle">Contact me :)</h2>
      <div class="barra"> </div>

      <div class="container">
        <i class="fa fa-apple" id="apple"></i>
        <i class="fa fa-twitter" id="twitter"></i>
        <i class="fa fa-github-square github" id="github"></i>
        <i class="fa fa-facebook-square" id="facebook"></i>
      </div>
    </section>
  </footer>
</body>





<router-outlet></router-outlet>