body {
  margin: 0;
  font-family: "Titillium Web";
  background-color: #222831;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 20rem;
    display: flex;
    z-index: 999;
    background-color: #525e65;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    text-align: center;
    justify-content: center;
  }

  .content {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

section {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.foto {
  width: 9rem;
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
}


.outer-ring {
  display: flex;
  height: 10rem;
  width: 10rem;
  background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: -999;
  margin-top: -9.5rem;
  
  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}



  a{
    font-size: 18px;
    text-decoration: none;
    color:#73CCA8;
    padding: 0.5rem;

  }

  p {
    font-size: 200%;
    color: white;
  }
  .blue {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: -10;
  }

  .red {
    position:absolute;
    top: 45px;
    bottom: 0px;
    left: 0px;
    z-index: -10;
  }

  h1 {
    color: #E8E5E2;
    font-size: 270%;
    font-weight:lighter;
  }

  h2 {
    color: #E8E5E2;
    font-size: 200%;
    font-weight: 100;
  }

  


/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1658152750 svg {
        width: calc(100% + 1.3px);
        height: 100px;
    }
}


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

