* {
 margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
  margin: 0;
  font-family: "Titillium Web";
  background-color: #222831;
}

nav {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 999;
    background-color: #2C2E3F;
  }
  nav li{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    list-style: none;
    display: inline-block;
  }
nav a{
    font-size: 1rem;
    text-decoration: none;
    color:#73CCA8;
    padding: 0.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

#home{
  margin-top: 5rem;
}

h1 {
  color: #E8E5E2;
  font-size: 1.8rem;
  margin-left: 4rem;
  margin-right: 4rem;
  letter-spacing: 0.05em;
}

h2 {
  margin-top: 1rem;
  color: #E8E5E2;
  font-size: 1.5rem;
  font-weight: 100;
}

.foto {
  margin-top: 1rem;
  width: 8rem;
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
  z-index: 1000;
}

.sameline{
  display: inline-flex;
  margin-top: 1rem;
}
.text1, .text2 {
  margin: 0.2rem;
  display: block;
}

.discoverButton {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #E8E5E2;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
}

.box {
  text-decoration: none;
  border: 1px solid #E8E5E2;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: #E8E5E2;
  margin-left: 5rem;
  margin-right: 5rem;  
}

.box:hover, .box a:active {
  transition: 1.2s;
  background-color: #00ADB5;
  font-size:1.5rem;
}

.aboutcard{
  display: flex;
  justify-content: center;
  z-index: 0;
  width: 16rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #181123;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.tittle {
margin-top: 5rem;
}
.barra {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 16rem;
  height: 5px;
  background-color: #525e65;
  
}

.row1,
.row2 {
  display: flex;
  margin-top: 2rem;
}


.card {
  justify-content: center;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  border-width: 0.05rem;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}


.card2 {
  justify-content: center;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}

.logo {
  max-height: 2rem;
  max-width: auto;
  justify-content: center;
  vertical-align: middle;
  background-color: red;
}

.iconText {
  margin-top: 1rem;
  vertical-align: middle;
}



#workcards {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}






 

  p {
    font-size: 100%;
    color: white;
  }


    
    @keyframes rotate {
    100% {
    transform: rotate(1turn);
    }
    }


    .workcard {
    position: relative;
    z-index: 0;
    width: 16rem;
    height: 7rem;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    background-color: #181123;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    
    }

    .workcard::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#f3ec78, #f3ec78), linear-gradient(#181123, #181123), linear-gradient(#DA70D6, #DA70D6), linear-gradient(#181123, #181123);
    animation: rotate 5s linear infinite;
    }
    .workcard::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background-color: #181123;
    border-radius: 5px;
    }

    span{
      text-align: center;
      justify-content: center;
    }

